body {
    background-color: #FF90BC;
    align-items: center;
    align-content: center; 
    margin: auto;
}

.header{
    text-align: center;
}

#head {
    color: #F9F9E0;
}

#p_head {
    color: #F9F9E0;
}

.gallery {
    background-color: #FFC0D9;
    box-shadow: 5px 10px #F9F9E0;
    margin: 50px;
    border: 1px solid #ccc;
    float: left;
    width: 370px;
    height: 850px;
}

.gallery:hover {
    background-color: #F9F9E0;
}

.gallery img {
    width: 100%;
    height: auto;
}

.title {
    text-align: center;
}

.desc {
    padding: 15px;
    font-size: 19px;
    text-align: justify;
}
