@charset "UTF-8";

body {
    background-color: #FF90BC;
    align-items: center;
    align-content: center; 
    margin: auto;
}

.header{
    width: 50%;
    text-align: center;
    border: 5px solid #F9F9E0;
    border-radius: 25px;
    margin: auto;
}

#head {
    color: #F9F9E0;
}

#p_head {
    color: #F9F9E0;
}

.gallery {
    background-color: #FFC0D9;
    box-shadow: 5px 10px #F9F9E0;
    margin: 50px;
    border: 1px solid #ccc;
    border-radius: 40px;
    float: left;
    width: 370px;
    height: 800px;
}

.gallery:hover {
    background-color: #F9F9E0;
}

.gallery img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 200px;
}

.title {
    text-align: center;
}

.desc {
    padding: 15px;
    font-size: 19px;
    text-align: justify;
}
